.logo {
  height: 32px;
  margin: 16px;
  align-items: center;
  color: black;
  font-size: 18px;
  padding-right: 10px;
  text-align: center;
}

.sider {
  display: flex;
  flex-flow: column;
  height: 100%;
  .sider-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
  }
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

